.file-uploader .caption h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 134px;
}

.file-uploader-thumbNails-panel {
    overflow: auto;
    position: relative;
    margin-bottom: 0px;
}

.file-uploader .thumbnails {
    text-align: center;
    /*display: none;*/
}
.file-uploader .thumbnails li {
    position: relative;
}
.file-uploader .thumbnails .disabled {
    opacity: .5;
}
.file-uploader .thumbnail .image-container {
    background: url("../img/153x120.gif") no-repeat center center;
    background-size: 100%;
    pointer-events: none;
}
.file-uploader .thumbnail img {
    pointer-events: none;
}
.file-uploader .selected, .file-uploader .thumbnail.selected:hover {
    border-color: #666;
}

.file-uploader .uploading {
    border-color: #FF0000;
}
.file-uploader .thumbnails .image-container {
    width: 153px;
    height: 120px;
    overflow: hidden;
    text-align: center;
}
.file-uploader .thumbnail:hover {
    text-decoration: none;
}
.file-uploader .thumbnails .loading {
    position: absolute;
    /*background: url('ajax-loader.gif') center center no-repeat rgba(255,255,255,.5);*/
    background: rgba(255,255,255, 0);
    width: 153px;
    height: 120px;
    top: 5px;
    left: 5px;
    pointer-events: none;
}
.file-uploader .thumbnails .loading.done {
    /*background: url('complete.png') center center no-repeat rgba(255,255,255, 0);*/
}
.file-uploader .progress.done {
    opacity: 0;
}

.file-uploader-thumbNails-panel-dragDialog {
    pointer-events: none;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    font-size: 200%;
    float: left;
    opacity: .5;
    text-align: center;
}
.file-uploader-thumbNails-panel-dragDialog .supportMessage,
.file-uploader-thumbNails-panel-dragDialog .dragMessage,
.file-uploader-thumbNails-panel-dragDialog .dropMessage  {
    position: absolute;
    top: 50%;
    width: 100%;
}

.file-uploader-manage-files input[type=file] {
    display: none;
}
.file-uploader-manage-files {
    display: inline-block;
}
.file-uploader-infoLog {
    position: absolute;
    left: 20px;
    top : 25px;
}
.file-uploader .progress .bar.noTransition {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}
.file-uploader .modal {
    margin-top: -100px;
}